.banner-one {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("../img/banner2.jpg") center;
  background-size: cover;
}
.banner-two {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("../img/banner3.jpg") center;
  background-size: cover;
}

.hero {
  margin-top: calc(-5vh - 1rem);
}
.project-container {
  width: 90%;
  margin: 1.5rem auto 0;
  .img-container {
    text-align: center;
    margin-bottom: 1rem;
    img {
      height: auto;
      width: auto;
      max-width: 100%;
      border: 1px solid #141;
      padding: 0px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
      transition: padding 0.5s;
      &:hover {
        padding: 20px 40px;
      }
    }
  }
  .content {
    margin-bottom: 1rem;
    li {
      margin-left: 1.5rem;
    }
    ul {
      ol {
        li {
          margin-left: 2.5rem;
        }
      }
    }
    dl {
      margin-bottom: 1.5rem;
      dt {
        margin: 1rem 0 0.5rem;
      }
    }
  }
}
